@tailwind base;
@tailwind components;
@tailwind utilities;

.line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #999DA3; 
    content: "";
    z-index: 0;
}

